.header {
    display: flex;
    height: 36px;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-top: 3px;
    width: 247px;
    padding-left: 53px;
    background-color: #e3e3e3;
    
   
}
.logo{
    height: 22px;
}
.main-page {
    padding: 14px;
}